#root {
    --dark: #27272a;
    --lighter-dark: #52525b;
    --disabled: #a1a1aa;
    --bg: #f4f4f5;
    --blue: #06b6d4;

    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 1.5rem;
    gap: 0.8rem;
    font-weight: 500;
    color: var(--dark);
    background-color: var(--bg);
}

@media (prefers-color-scheme: dark) {
    #root {
        --dark: #f4f4f5;
        --lighter-dark: #a1a1aa;
        --disabled: #52525b;
        --bg: #293843;
    }
}

body {
    margin: 0;
    font-family: ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Consolas, 'Liberation Mono', monospace;
}

a {
    color: var(--blue);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

p {
    margin: 0;
}
p[data-status]::before {
    content: '';
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 100%;
    margin-right: 0.3rem;
    background-color: var(--disabled);
}
p[data-status='false'] {
    color: var(--lighter-dark);
}
p[data-status='true']::before {
    background-color: var(--blue);
}

.details {
    margin-top: 0.4rem;
    color:      var(--lighter-dark);
}

.versions {
    max-width: 50ch;
}

ul {
    margin:      0;
    margin-left: 2ch;
    margin-top:  0.4rem;
    color:       var(--lighter-dark);
    padding:     0;
    list-style:  none;
}
li::before {
    content:    '- ';
    margin-left: -2ch;
}

.external-links {
    display:        flex;
    flex-direction: column;
    gap:            0.4rem;
}
.external-links a {
    margin:        0 -0.4rem;
    padding:       0.2rem 0.4rem;
    transition:    background-color 0.2s;
    display:       flex;
    align-items:   center;
    gap:           0.4rem;
}

.external-links .icon {
    width:         0.8rem;
    height:        0.8rem;
    margin-bottom: 2px;
}
.external-links .icon path {
    stroke-width:  12;
}

.issue-link:hover {
    background-color: #fb923c20;
    color:            #f97316;
    text-decoration:  none;
}
.support-link:hover {
    background-color: #ec489920;
    color:            #ec4899;
    text-decoration:  none;
}
