#root {
    --dark: #27272a;
    --lighter-dark: #52525b;
    --disabled: #a1a1aa;
    --bg: #f4f4f5;
    --blue: #06b6d4;

    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 1.5rem;
    gap: 0.8rem;
    font-weight: 500;
    color: var(--dark);
    background-color: var(--bg);
}

@media (prefers-color-scheme: dark) {
    #root {
        --dark: #f4f4f5;
        --lighter-dark: #a1a1aa;
        --disabled: #52525b;
        --bg: #293843;
    }
}

body {
    margin: 0;
    font-family: ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Consolas, 'Liberation Mono', monospace;
}

a {
    color: var(--blue);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

p {
    margin: 0;
}
p[data-detected]::before {
    content: '';
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 100%;
    margin-right: 0.3rem;
    background-color: var(--disabled);
}
p[data-detected='false'] {
    color: var(--lighter-dark);
}
p[data-detected='true']::before {
    background-color: var(--blue);
}

.details {
    margin-top: 0.4rem;
}

.versions {
    max-width: 50ch;
}

ul {
    margin:      0;
    margin-left: 2ch;
    color:       var(--lighter-dark);
    padding:     0;
    list-style:  none;
}
li::before {
    content:    '- ';
    margin-left: -2ch;
}
