node_modules
dist
gitignore

# tsc build artifacts
tsconfig.tsbuildinfo

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# solid
.solid

# IDEs
/.idea
.project
.classpath
*.launch
.settings/

# OS
.DS_Store
Thumbs.db

# chrome extension private key file
*.pem
# web-ext artifacts
web-ext-artifacts

**/vite.config.ts.timestamp-*.*
