{
  "trailingComma": "all",
  "tabWidth": 4,
  "printWidth": 100,
  "semi": false,
  "singleQuote": true,
  "useTabs": false,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-organize-imports"],
  "overrides": [
    {
      "files": "*.yml",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
