body {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  width: max-content;
  min-width: 300px;
  padding: 1.5rem;
  gap: 0.8rem;
  font-weight: 500;
  --dark: #27272a;
  --lighter-dark: #52525b;
  --disabled: #a1a1aa;
  color: var(--dark);
  background-color: #f4f4f5;
}

p {
  margin: 0;
}
p[data-detected]::before {
  content: '';
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100%;
  margin-right: 0.3rem;
  background-color: var(--disabled);
}
p[data-detected='false'] {
  color: var(--lighter-dark);
}
p[data-detected='true']::before {
  background-color: #06b6d4;
}

.details {
  margin-top: 0.4rem;
}

.versions {
  max-width: 50ch;
}

ul {
  margin: 0.3rem 0 0 0.8rem;
  color: var(--lighter-dark);
  padding: 0;
  list-style: none;
}
